---
title: Suche
description: Suche auf Anoxinon Media
keywords:
- Suche
---

<section class="anoxinon-search">
  <div class="anoxinon-search-box">
    <input type="text" placeholder="Suchbegriff eingeben ..." />
    <button type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>

  <div class="anoxinon-search-error">Die Suche ist momentan nicht verfügbar</div>

  <div class="anoxinon-search-content">
    <a class="anoxinon-search-content-box" href="https://anoxinon.media/blog/syncthing/" target="_blank">
      <span class="url">https://anoxinon.media/blog/syncthing/ </span>
      <h2><b>Dateisynchronisation</b> mit <b>Syncthing</b></h2>
      <p><b>Syncthing</b> ist eine freie Anwendung zur <b>Dateisynchronisation</b> ohne zentrale Cloud. In diesem Beitrag gehen wir auf die Benutzung und die dahinterstehende Technologie ein.</p>
    </a>
  </div>
</section>
