<div class="pager">
  {{ if .Paginator.HasPrev }}
    <a class="button previous" href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a>
  {{ else }}
    <a class="button previous disabled">&larr; {{ i18n "newer" }}</a>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a class="button next" href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a>
  {{ else }}
    <a class="button next disabled">{{ i18n "older" }} &rarr;</a>
  {{ end }}
</div>
